<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minecraft_Launcher_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minecraft_Launcher_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Minecraft_Launcher_2.Properties.Settings>
            <setting name="UpdateHost" serializeAs="String">
                <value>http://localhost/dataserver</value>
            </setting>
            <setting name="MemorySize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>-XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump -XX:+UseConcMarkSweepGC -XX:+CMSIncrementalMode -Xmn128M -XX:-UseAdaptiveSizePolicy</value>
            </setting>
            <setting name="Minecraft_Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>설치 필요</value>
            </setting>
            <setting name="LastLogined" serializeAs="String">
                <value>Unnamed</value>
            </setting>
            <setting name="PreprocessMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Minecraft_Launcher_2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Minecraft_Launcher_2.Properties.Settings>
            <setting name="LibraryURL" serializeAs="String">
                <value>https://libraries.minecraft.net/</value>
            </setting>
            <setting name="AssetsURL" serializeAs="String">
                <value>http://resources.download.minecraft.net/</value>
            </setting>
        </Minecraft_Launcher_2.Properties.Settings>
    </applicationSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>